$polite_white: #F2F2F2;
$polite_black: #333;
$red_alert:#D32F2F;

$color_1:#01579B;
$color_2:#0288D1;
$color_3:#039BE5;
$color_4:#29B6F6;

$color_accent_1:#FFE082;
$color_accent_2:#FFCA28;
$color_accent_3:#FFB300;
$color_accent_4:#FF8F00;

$column_gap:1em;

$break-points:(
  'xs' : 0,
  'md' : 600,
  'lg' : 1024
);